[Desktop Entry]
Type=Application
Exec=wal -R
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=wal-py
Name=wal-py
Comment[en_US]=Changing terminal color based on last scheme
Comment=Changing terminal color based on last scheme
